.vq-root {
    position: relative;
    width: 1000px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);


    .model3D{
        position: absolute;
    }

    .slidingBlock {
        position: absolute;
        left: 2%;
    }

    .ctrlBar {
        position: absolute;
        top: calc(100% - 50px);
        left: 50%;
        transform: translate(-50%);
    }
}