.sb-root {
    position: absolute;
    width: 100px;
    height: 70px;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: bisque;
    user-select: none;

    .colon {
        display: inline-block;
        padding: 0 10px 0 10px;
    }

    .num {
        cursor: row-resize;
    }
}